# Crie um arquivo .env na pasta backend com as suas credenciais MySQL.
# Exemplo:
# DATABASE_URL="mysql://usuario:senha@localhost:3306/nome_do_banco"

DATABASE_URL="mysql://root:senha@localhost:3306/av1_dsw"
